/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_reset
 *= require_groups
 *= require_the_last
 *= require_bootstrap
 */

body{
  background-color: #000000;
  font-family: helvetica;
  color: white;
}

h1{
  color: #c43100;
  text-align: center;
  letter-spacing: 0.3em;
  font-size: 3.5em;
  margin: 0.8em;
}

nav{
  text-align: center;
  font-size: 0.8em;
  color: #c43100;
}

nav a{
  margin: 3.0em;
  text-decoration: none;
  color: #c43100;
  font-size: 1.1em;
}

nav a:hover{
  text-decoration: underline;
  color: #c43100;
  cursor: pointer;
}

.container{
  background-color: #c43100;
  width: 80%;
  margin-left: 10%;
  margin-top: 1em;
  margin-bottom: 1em;
  height: 65%;
  border-radius: 10px;
  position: relative;
}

.left-arrow{
  display: inline-block;
  opacity: 0;
  position: absolute;
  left: 0px;
}

.right-arrow{
  display: inline-block;
  opacity: 0;
  position: absolute;
  right: 0px;
}

footer{
  width: 80%;
  margin-left: 10%;
  position: relative;
  font-size: 60%;
}

.officiel{
  display: inline-block;
  vertical-align: top;
  position: absolute;
  left: 0px;
}

.sociallink{
  display: inline-block;
  vertical-align: top;
  position: absolute;
  right: 0px;
}

.sociallink .link{
  text-decoration: none;
  cursor: pointer;
}

.sociallink .link:hover{
  text-decoration: underline;
  cursor: pointer;
}


.sociallink img{
  padding-right: 0.5em;
}

#musicplayer{
  text-align: center;
  bottom: 10px;
  letter-spacing: 0.8em;
  cursor: initial;
}

#musicplayer .glyphicon:hover{
  cursor: pointer;
}

.glyphicon-pause{
  display: none;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

h2, .center{
  text-align: center;
}

.index{
  display: inline-block;
  margin-left: 15%;
  width: 27%;
  vertical-align: top;
  word-break: break-all;
  position: relative;
  border: solid 1px black;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}

input, select, textarea{
  color: black;
}

textarea{
  vertical-align: top;
}
